# --- Python va Virtual Muhit ---
venv/
env/
ENV/
bin/
lib/
include/
share/
*.pyc
__pycache__/

# --- Maxfiy ma'lumotlar (Bularni aslo GitHubga yuklamang) ---
.env
.flaskenv

# --- Ma'lumotlar bazasi (SQLite) ---
*.db
*.sqlite3
instance/

# --- Dasturlash muhiti (IDE) sozlamalari ---
.idea/
.vscode/
*.swp
*.swo

# --- Operatsion tizim fayllari ---
.DS_Store
Thumbs.db